{% extends "base.html" %}

{% block content %}
<section class="hero-details">
    <article id="hero1">
        <h2>Иван-царевич</h2>
        <h3>Сказка: «Иван-царевич и серый волк»,

                    «Царевна-лягушка»,

                    «Иван-царевич и Белый Полянин»,

                    «Сказка о молодильных яблоках и живой воде»,

                    «Иван-царевич и Марфа-царевна»,

                    «Марья Моревна».</h3>
        <p>Характеристики: Храбрый, умный, добрый.</p>
        <p>Он всегда поступает справедливо и не требует вознаграждений за свои поступки. Иван-царевич всегда готов прийти на помощь нуждающимся людям, смело вступает в борьбу со злом.</p>
    </article>
    <article id="hero2">
        <h2>Марья-искусница</h2>
        <h3>Сказка: «Марья-искусница»</h3>
        <p>Характеристики: Она олицетворяет материнство и женственность.</p>
        <p>Марья известна умением делать любое дело гладко и хорошо. Пряла ли она пряжу, пекла ли пирожки — всё спорилось в её руках.</p>
    </article>
    <article id="hero3">
        <h2>Соловей-разбойник</h2>
        <h3>Сказка: былина «Илья Муромец и Соловей-разбойник»</h3>
        <p>Характеристики: Бесстрашный, сильный завоеватель, самоуверенный и гордый.</p>
        <p>Он олицетворяет все злые силы и является разрушителем. Главным оружием разбойника является его могучий свист, от которого все валятся замертво. Погубил много людей, проезжавших мимо его гнезда. Не смог справиться с Ильёй Муромцем, который отрубил ему голову.</p>
    </article>

    <!-- Добавьте больше статей по мере необходимости -->
</section>
{% endblock %}
